node-linker=hoisted
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*react-native*
public-hoist-pattern[]=@expo/*
public-hoist-pattern[]=@react-native/*
public-hoist-pattern[]=babel-preset-expo
public-hoist-pattern[]=metro*
shamefully-hoist=true
auto-install-peers=true
